<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
      <style>
        header{
          height: 20vh;
        }
        #logo{ 
          position:absolute;
          height: 15%;
          top:1%;
          left: 2%;
        }
        #title{
          position:absolute;
          font-size: 3em;
          font-family: 'Raleway', sans-serif;
          left:10%;
          top: 4%;
        }
        #headerMail{
          position: absolute;
          right: 2%;
          top: 8%;
          text-decoration:none;
          font-family: 'Raleway', sans-serif;
        }
        .far{
          position: absolute;
          font-size: 5vh;
          right: 10%;
          top: 8%;
          color:black;
        }
      </style>
    </head>
    
    <body>
      <div class="container" id="app">   
      <header>
        <img id="logo" src="./logo.png" alt="logo_senate">
        <h1 id="title">TGIF</h1>
        <a id="headerMail" href="mailto:info@tgif.net?subjet=hola%20como%20estas">info@tgif.net</a><i class="far fa-envelope"></i>
      </header> 
      
      <nav style="margin-bottom:20px" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./home-starter-page.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Congress 113
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./house-starter-page.html">House</a>
                <a class="dropdown-item" href="./senate-starter-page.html">Senate</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Attendance
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./house-attendance-starter-page.html">House</a>
                <a class="dropdown-item" href="./senate-attendance-starter-page.html">Senate</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PartyLoyality
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item active" href="./house-party-loyalty-starter-page.html">House</a>
                <a class="dropdown-item" href="./senate-party-loyalty-starter-page.html">Senate</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>        
  
        <!--Table container-->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h2>Party Loyalty</h2>
              <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda.</p>
            </div>
            
            <div class="col-md-6">
              <h2>Senate at a glance</h2>
              <table class="table">
                  <thead>
                      <tr class="bg-primary">
                          <th scope="col">Party</th>
                          <th scope="col">Number of Reps</th>
                          <th scope="col">% Voted with Prty</th>
                      </tr>
                  </thead>
                  <tbody id='tbodyGlance'>
                    <tr v-for="(obj, key) in statisticsData">
                      <td>{{key}}</td> 
                      <td>{{obj.quantity}}</td>
                      <td>{{obj.avgVoted.toFixed(2)}}%</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2>Least Loyal (Top 10% Loyal)</h2>
              <table class="table">
                <thead>
                    <tr class="bg-primary">
                      <th scope="col">Name</th>
                      <th scope="col">Number Party Votes</th>
                      <th scope="col">% Party Votes</th>
                    </tr>
                </thead>
                <tbody id='tbodyLeastLoyal'>
                  <tr v-for="(obj, key) in statisticsData.T.leastLoyal">
                    <td>{{obj.name}}</td> 
                    <td>{{obj.partyVotes}}</td>
                    <td>{{obj.partyPct.toFixed(2)}}%</td>
                  </tr>
                </tbody>
            </table>
            </div>
              
            <div class="col-md-6">
              <h2>Most Loyal (Top 10% Loyal)</h2>
              <table class="table">
                <thead>
                    <tr class="bg-primary">
                      <th scope="col">Name</th>
                      <th scope="col">Number Party Votes</th>
                      <th scope="col">% Party Votes</th>
                    </tr>
                </thead>
                <tbody id='tbodyMostLoyal'>
                  <tr v-for="(obj, key) in statisticsData.T.mostLoyal">
                    <td>{{obj.name}}</td> 
                    <td>{{obj.partyVotes}}</td>
                    <td>{{obj.partyPct.toFixed(2)}}%</td>
                  </tr>
                </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>

        <footer style="justify-content: center;" class="navbar  navbar-dark bg-primary">
          <a class="navbar-brand" href="#">&copy 2016 TGIF | All Rights Reserved</a>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="pro-congress-113-house.js"></script>
        <script src="stadisticsScript.js"></script>

</body>
</html>